* {
  background-color: rgb(208, 227, 232);
  font-family: 'Playfair Display', serif;
  letter-spacing: .2rem;
}

.bio {
  font-size: 16px; 
  line-height: 2em;
    
}

.about-me {
  font-size: 20px;
  font-style: italic;
  margin: 1.5em;
}