* {
  background-color: rgb(255, 255, 255);
  font-family: 'Playfair Display', serif;
  letter-spacing: .2rem;
}

.bio {
  font-size: 16px; 
  line-height: 2em;
}

.navbar-brand {
  /* flex: auto; */
  justify-content: center;
  align-items: center;
  text-indent: 15em;
}


.about-me {
  font-size: 25px;
  font-style: italic;
  margin: 1.5em;
}
.background {
  max-width: fit-content;
  max-height: 1vh;
}

.home {
  margin-left: 2em;
}

.contact {
  font-style: italic;
  margin-left: 1em;
}

.image {
  max-width: 600px;
  max-height: 400px;
}

.titlePic1 {
  font-size: 14px;
}

.portfolioPic {
  margin-left: 8em;
}